charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
docformatter==1.7.0
fonttools==4.39.3
greenlet==2.0.1
jedi==0.17.2
kiwisolver==1.4.4
matplotlib==3.7.1
msgpack==1.0.4
multiprocess==0.70.14
mycolorpy==1.5.1
numpy==1.24.2
packaging==23.0
pandas==1.5.1
parso==0.7.1
Pillow==9.5.0
pipdeptree==2.3.3
pluggy==1.0.0
pyflakes==2.2.0
pyls==0.1.6
pynvim==0.4.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
seaborn==0.11.2
setuptools-scm==7.0.5
six==1.16.0
tikzplotlib==0.10.1
tomli==2.0.1
tqdm==4.62.3
typing_extensions==4.4.0
ujson==5.5.0
untokenize==0.1.1
webcolors==1.12
